<footer class="text-center">
    <div class="text-center text-dark p-1">
        © 2021 Copyright:
        <a class="text-dark" href="#">ThePlugSelect.com</a>
        <a class="text-dark" href="/contact">Contact Us</a>
    </div>
</footer>