<article>
    <div class="container-fuild" id="aboutContain">
        <h3 class="title text-center" id="aboutTitle">About Us</h3>
    </div>
    <p>
        The Plug Select was made 5 passionate individuals who all want a better community to purchase premium goods.
        <img src="">
    </p>
    <hr class="rounded">
    <h3 class="title text-center">Our team consists of:</h3>

    <div class="row justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Alan</h5>
                <p class="card-text">Blah blah</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thomas</h5>
                <p class="card-text">Blah blah</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Santos</h5>
                <p class="card-text">Blah blah</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Avi</h5>
                <p class="card-text">Blah blah</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Christian</h5>
                <p class="card-text">Blah blah</p>
            </div>
        </div>
    </div>
</article>