<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card chatCard">
                <div class="card-header chatHeader">
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight userImg">
                            <img src="public/images/work-3.jpg" class="rounded-circle" style="width: 55px; height: 40px;">
                        </div>
                        <div class="userName">
                            <p>Username</p>
                        </div>
                        <div class="ms-auto p-2 bd-highlight bidItem">
                            <p>Bid Item Name</p>
                        </div>
                    </div>
                </div>
                <div class="card-body msgBody">
                    <div class="d-flex justify-content-start mb-4">
                        <div>
                            <img src="public/images/work-3.jpg" class="rounded-circle" style="width: 50px; height: 40px;">
                        </div>
                        <div class="msgContainer">
                            Yeetus Deletus
                            <span class="msgTime">8:40 AM, Today</span>
                        </div>
                    </div>
                </div>
                
                <!-- Example of reply
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msgContainerReply">
                            <span class="msgTime">8:55 AM, Today</span>
                        </div>
                        <div>
                            <img src="">
                        </div>
                    </div>
                -->

                <div class="card-footer cardEnd">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attachBtn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control typeContainer" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text sendBtn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
