@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    min-height: 100vh;
    margin-top:20px;
    background:#eee;
}
.text-dark {
    font-size: 10px;
    font-family: "Bangers";
}

#logo-main {
    display: block;
    margin: 20px auto;
}

.title {
    font-family: "Bangers";
}

.card-title {
    font-family: "Bangers";
}

.rounded {
    border-top: 8px solid black;
    border-radius: 5px;
}

#aboutContain {
    background-color: #FFC312;
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

#aboutTitle {
    font-size: 100px;
}

.aboutText {
    font-family: "Bangers";
    text-align: center;
}

.card {
    margin: 5px;
}

#loginContain {
    height: 100%;
    align-content: center;
}

#cardLogin{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
    font-family: "Bangers";
}

.loginLabel {
    font-family: "Bangers";
    color: white;
}

.loginBtn{
    color: black;
    background-color: #FFC312;
    font-family: "Bangers";
    width: 100px;
    float: right;
    margin: 8px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    }
    
.loginBtn:hover{
    color: black;
    background-color: white;
}

#dropdownMenuButton {
    background-color: #FFC312;
    font-family: "Bangers";
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

#dropdownMenuButton:hover {
    color: black;
    background-color: white;
}

.signup-form {
    background-color: rgba(0,0,0,0.5);
}

.signUpBtn {
    font-family: "Bangers";
    background-color: #FFC312;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.navbar-header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBtns {
    font-family: "Bangers";
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.navBtns:hover {
    background-color: white;
}

.card-body{
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#brands {
    width: 100%;
    max-height: 20%;
}

.card-title {   
    font-size: 24px;
}

.col {
    font-family: "Bangers";
    font-size: 19px;
}

.nav-tabs {
    font-family: "Bangers";
}

.profileTab {
    color: black;
    font-size: 20px;
}

.profileTab:hover {
    color: black;
}

.profileInfo {
    font-family: "Bangers";
}

.form-control-label {
    font-family: "Bangers";
    color: black;
}
.bg-light {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.saveBtn {
    background-color: #FFC312;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-family: "Bangers"
}

.addBid {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-family: "Bangers"
}

.regularFont {
    font-family: "Bangers";
    font-size: 20px;
}

.basicFont {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-family: "Bangers";
}

.postCard {
    max-width: 50%;
}

.formLabel {
    font-family: "Bangers";
}

.addBtn {
    margin: 3px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-family: "Bangers";
}

.teamMember {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

.teamMember .teamImage {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #FFC312;
    overflow: hidden;
}

.teamMember .teamImage::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

@media only screen and (max-width: 575px) {
    .teamMember .teamImage::after {
        height: 160px;
        bottom: -90px;
    }
}

.teamMember .teamImage .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

.teamMember .teamImage .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}

.teamMember .teamImage .social-info a:hover,
.teamMember .teamImage .social-info a:focus {
    color: #FFC312;
}

.teamMember .teamImage .social-info a:last-child {
    padding-right: 0;
}

.teamMember .teamInfo {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
    font-family: "Bangers";
}

.teamMember .teamInfo::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: black;
    content: "";
    top: 12px;
    right: 30px;
}

.teamMember .teamInfo h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .teamMember .teamInfo h6 {
        font-size: 14px;
    }
}

.teamMember .teamInfo p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .teamInfo p {
        font-size: 12px;
    }
}

.teamMember:hover .teamImage::after,
.teamMember:focus .teamImage::after {
    background-color: black
}

.teamMember:hover .teamImage .social-info a,
.teamMember:focus .teamImage .social-info a {
    color: #ffffff;
}

.teamMember:hover .teamImage .social-info a:hover,
.teamMember:hover .teamImage .social-info a:focus,
.teamMember:focus .teamImage .social-info a:hover,
.teamMember:focus .teamImage .social-info a:focus {
    color: #ffffff;
}

.teamMember:hover .teamInfo,
.teamMember:focus .teamInfo {
    background-color: black
}

.teamMember:hover .teamInfo::after,
.teamMember:focus .teamInfo::after {
    background-color: #ffffff;
}

.teamMember:hover .teamInfo h6,
.teamMember:focus .teamInfo h6 {
    color: #ffffff;
}

.teamMember:hover .teamInfo p,
.teamMember:focus .teamInfo p {
    color: #ffffff;
}